body,
html {
  height: 100%;
  margin: 0 0 190px 0;
}

.background-img {
  /* background-image: url("/assets/images/background/store5.jpg"); */
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card-img-top:hover {
  transform: scale(1.15);
  background: transparent;
  cursor: pointer;
}

.card {
  border: none;
  background: transparent;
  cursor: pointer;
}

.dropdown {
  margin-top: 2rem;
  display: flex;
  justify-content: left;
}

.search-bar {
  display: flex;
  justify-content: right;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.search-bar input {
  border-radius: 10rem 0 0 10rem;
  border: none;
  height: 3rem;
  width: 12rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

.search-button {
  color: grey;
  height: 3rem;
  width: 7rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 0 10rem 10rem 0;
  border: none;
  background-color: rgb(152, 90, 223);
  color: white;
  opacity: 0.8;
  outline: none;
}
.search-button:hover {
  opacity: 1;
  cursor: pointer;
}
